<div class="weather-container">
    <h2 class="weather-heading">Weather App</h2>
    <form (ngSubmit)="getWeather()" class="weather-form">
      <input type="text" placeholder="Enter city name" [(ngModel)]="cityName" name="cityName" class="weather-input" required>
      <button type="submit" class="weather-button" >Get Weather</button>
    </form>
    <div *ngIf="weatherData" class="weather-info">
      <h3 class="city-name">{{ weatherData.name }}, {{ weatherData.sys.country }}</h3>
      <p class="temperature">Temperature: {{ weatherData.main.temp }}°C</p>
      <p class="humidity">Humidity: {{ weatherData.main.humidity }}%</p>
      <p class="wind-speed">Wind Speed: {{ weatherData.wind.speed }} m/s</p>
    </div>
  </div>
  
  
